* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  text-align: center; }

.pageWrap {
  display: inline-grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(20, 100px);
  padding: 20px; }
  .pageWrap [class^="bg"] {
    background-color: #50E3C2;
    position: relative;
    z-index: -1; }
  .pageWrap [class^="border"] {
    border-color: #50E3C2;
    border-style: solid;
    border-width: 20px;
    position: relative;
    z-index: -2; }
  .pageWrap [class^="lace"] {
    background: repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px);
    position: relative; }
  .pageWrap [class^="imgTitle"] {
    font-size: 45px;
    position: relative;
    font-weight: bolder;
    font-family: sans-serif; }
  .pageWrap [class^="imgTitle1"] {
    grid-area: 3/1/4/4;
    text-align: left; }
  .pageWrap [class^="sub"] {
    font-family: Roboto-BoldItalic, sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    white-space: nowrap; }
  .pageWrap .sub1 {
    grid-area: 6/4/7/6;
    transform: rotateZ(90deg);
    line-height: 75px; }
  .pageWrap .sub2 {
    grid-area: 3/6/4/7;
    line-height: 170px; }
  .pageWrap .sub3 {
    grid-area: 11/1/12/3;
    text-align: right; }
  .pageWrap .sub4 {
    grid-area: 8/8/9/9;
    position: relative;
    top: -40px;
    transform: rotateZ(90deg);
    text-align: left;
    line-height: 90px; }
  .pageWrap .sub5 {
    grid-area: 13/5/14/6; }
  .pageWrap .sub6 {
    grid-area: 19/6/20/8; }
  .pageWrap .sub7 {
    grid-area: 16/1/17/2;
    line-height: 175px; }
  .pageWrap .imgTitle1 {
    top: -14px; }
  .pageWrap .imgTitle1-s {
    top: -30px; }
  .pageWrap .imgTitle1-xs {
    top: -39px; }
  .pageWrap [class^="imgTitle2"] {
    grid-area: 6/7/7/9;
    text-align: left; }
  .pageWrap .imgTitle2 {
    top: 25px; }
  .pageWrap .imgTitle2-s {
    top: 9px; }
  .pageWrap .imgTitle2-xs {
    top: 0px; }
  .pageWrap [class^="imgTitle3"] {
    grid-area: 8/2/9/5;
    text-align: right; }
  .pageWrap .imgTitle3 {
    top: 47px; }
  .pageWrap .imgTitle3-s {
    top: 31px; }
  .pageWrap .imgTitle3-xs {
    top: 22px; }
  .pageWrap [class^="imgTitle4"] {
    grid-area: 10/6/11/8;
    transform: rotateZ(-90deg);
    text-align: right; }
  .pageWrap .imgTitle4 {
    left: -3px; }
  .pageWrap .imgTitle4-s {
    left: -19px; }
  .pageWrap .imgTitle4-xs {
    left: -28px; }
  .pageWrap [class^="imgTitle5"] {
    grid-area: 13/1/14/4;
    text-align: left; }
  .pageWrap .imgTitle5 {
    top: 25px; }
  .pageWrap .imgTitle5-s {
    top: 9px; }
  .pageWrap .imgTitle5-xs {
    top: 0px; }
  .pageWrap [class^="imgTitle6"] {
    grid-area: 14/6/15/9; }
  .pageWrap .imgTitle6 {
    top: 50px; }
  .pageWrap .imgTitle6-s {
    top: 34px; }
  .pageWrap .imgTitle6-xs {
    top: 25px; }
  .pageWrap [class^="imgTitle7"] {
    transform: rotateZ(90deg);
    grid-area: 18/2/19/4;
    top: -33px;
    text-align: left; }
  .pageWrap .imgTitle7 {
    left: 0px; }
  .pageWrap .imgTitle7-s {
    left: 16px; }
  .pageWrap .imgTitle7-xs {
    left: 25px; }
  .pageWrap [class$="-s"] {
    opacity: 0.3; }
  .pageWrap [class$="-xs"] {
    opacity: 0.1; }
  .pageWrap .title {
    grid-area: 1/3/2/7;
    font-family: Roboto-Black, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .pageWrap .title p:nth-child(1) {
      padding: 0px 4px;
      background: #000;
      color: #fff;
      font-size: 20px;
      font-weight: 900; }
    .pageWrap .title h1 {
      font-size: 70px;
      color: #000;
      font-weight: 900; }
  .pageWrap img {
    width: 100%;
    height: 100%; }
  .pageWrap .img1 {
    grid-area: 3/1/7/5; }
  .pageWrap .img2 {
    grid-area: 4/6/6/8; }
  .pageWrap .img3 {
    grid-area: 9/1/11/5; }
  .pageWrap .img4 {
    grid-area: 9/7/13/9; }
  .pageWrap .img5 {
    grid-area: 13/3/15/5;
    transform: rotateY(180deg); }
  .pageWrap .img6 {
    grid-area: 15/5/19/9; }
  .pageWrap .img7 {
    grid-area: 17/1/21/3; }
  .pageWrap [class^="index"] {
    font-size: 48px;
    color: #000;
    font-family: Roboto-Black, sans-serif;
    line-height: 45px;
    font-weight: bold; }
  .pageWrap .index1 {
    grid-area: 7/1/8/2;
    text-align: left; }
  .pageWrap .index2 {
    grid-area: 3/8/4/9;
    text-align: right; }
  .pageWrap .index3 {
    grid-area: 11/5/12/6;
    text-align: left; }
  .pageWrap .index4 {
    grid-area: 12/6/13/7;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
  .pageWrap .index5 {
    grid-area: 14/2/15/3;
    display: flex;
    align-items: flex-end; }
  .pageWrap .index6 {
    grid-area: 16/4/17/5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
  .pageWrap .index7 {
    grid-area: 20/3/21/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
  .pageWrap .bg2 {
    grid-area: 3/6/5/8;
    top: 50px;
    left: 60px; }
  .pageWrap .bg3 {
    grid-area: 8/1/9/3;
    top: 50px; }
  .pageWrap .bg6 {
    grid-area: 17/4/19/5;
    left: 60px; }
  .pageWrap .bg7 {
    grid-area: 19/3/21/4; }
  .pageWrap .border1 {
    grid-area: 2/3/4/5;
    top: 50px;
    left: 60px; }
  .pageWrap .border2 {
    grid-area: 3/7/5/9; }
  .pageWrap .border3 {
    grid-area: 9/3/11/5;
    top: 50px;
    left: 60px; }
  .pageWrap .border4 {
    grid-area: 8/6/10/8;
    left: 60px; }
  .pageWrap .border5 {
    grid-area: 14/2/15/4;
    top: 50px; }
  .pageWrap .border6 {
    grid-area: 18/5/20/9;
    top: -50px; }
  .pageWrap .border7 {
    grid-area: 16/1/19/3;
    top: 50px;
    left: 60px; }
  .pageWrap .lace1 {
    grid-area: 6/1/7/3;
    left: 60px;
    top: 50px; }
  .pageWrap .lace4 {
    grid-area: 13/7/14/9;
    top: -50px; }
  .pageWrap .lace5 {
    grid-area: 12/1/13/3;
    top: 50px;
    left: 60px; }

/*# sourceMappingURL=index.css.map */
